<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechWorld</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body class="main-body">
  <header class="bg-light display-flex justify-space-between align-center p-2">
    <h1>
      TechWorld
    
    </h1>
     <nav class="nav-bar">
    <h5><a href="/">Home</a></h5>
    
    {{#if loggedIn}}
     <h5><a href="/newpost">New Post</a></h5>
      <h5><a href="/user/dashboard">Dashboard</a></h5>
      <h5><a href="/" id="logout">Logout</a></h5>
    {{else}}

    <h3><a href="/login">Login</a></h3>
    {{/if}}
  </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
</body>

   {{#if loggedIn}}
   <script src="/js/logout.js"></script>
   {{/if}}

</html>
