<h1>New post</h1>
<h3>Make a post!</h3>
<textarea name="postTitle" id="postTitle" placeholder="Title" cols="70" rows="1"></textarea>
<textarea name="postBody" id="postBody" placeholder="write something" cols="70" rows="10"></textarea>
</br><button id="submitPostButton" >Submit post</button>
<script src="./js/postScript.js"></script>